body{
    background-color: #D6EFFF;
}
.fr{
    float:right;
}

.fl{
    float:left;
}
.row-fluid{
    margin-top: 25px;
}
legend{
    font-size:19px;
}

.login-form{
    border: 1px solid #e1e1e1;
    padding: 5px;
    width: 500px;
    margin: 100px auto;
}
.navbar-inverse .navbar-inner{
    background-image: none;
    background-color: #B2DC56;
    color:white;
}

.navbar-inverse .navbar-inner a{
    color:white !important;
    text-shadow: none;
}

#choose-category form{
    margin-left: 10%;
}

.left-sidebar-top{
    margin-top: 25px;
}

.left-sidebar-bg{
    background-color: #D6EFFF !important;
    border: 1px dashed #B2DC56;
}

.widget-box{
    border: 2px solid #6CB04C;
    padding: 5px;
    border-radius: 4px;
    background-color: #82C259;
    color:white;
    text-shadow: 0px 0px 1px black;
    box-shadow: 1px 1px 20px white;
}

.widget-box h4, .widget-box h6{
    margin:5px 0px;
}

.widget-box p{
    font-size:13px;
}

.widget-box a{
    text-shadow: none;
    color: black;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 2px orange;
}


.footer{
    background-image: url(../images/footer.jpg);
    background-repeat: repeat-x;
    height:165px;
}